*{
	box-sizing: border-box;
}
.card-container{
    box-sizing: unset;
     background: darkcyan; 
     border-radius: 2%;
     box-shadow:inset 4px 3px 8px 1px #969696; 
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.card-media{
    height: 250px;
    width: 250px;
}
/*button hover*/
.btn-group__item {
	background: none;
	border: 1px solid green;
	font-size: 23px;
	padding: 10px 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
}

.btn-group__item {
	color: green;
    font-size: 100%;
    padding: 10px;
    border-radius: 10%;
}

.btn-group__item:hover {
	color: #fff;
}
.btn-group__item::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: green;
	z-index: -1;
	transition: 0.8s;
}

.btn-group__item::before {
	bottom: 0;
	border-radius: 50% 50% 0 0;
}

.btn-group__item:hover::before{
	height: 180%;
}
/*end of button hover*/

.btn-group{
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30%;
}

@media(min-width: 992px){
.col-lg-1{
	border: solid black;
	margin-top: 25px;
}
.col-lg-1{
	width: 30%;
	margin-left: 25px;
	margin-right: 10px;
	float: left;
}

.card-container{
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein{
    from {
        margin-left: 90%;
        width: 30%;
      }
    
      to {
        margin-left: 2.7%;
        width: 30%;
      }
}
}


@media(max-width: 991px){
.col-sm-1{
	border: solid black;
	margin-top: 10px;
	float: left;
}
.col-sm-1{
	width: 97.3%;
	margin-left: 10px;
	margin-right: 10px;
}
.card-media{
    height: 250px;
    width: 350px;
}

.card-container{
    animation-duration: 3s;
    animation-name: slidein1;
}

@keyframes slidein1{
    from {
        margin-top: 90%;
      }
      to {
        margin-top: 3%;
      }
}
}



.card-circle{
    font-size: 1.5em;
    background: greenyellow;
    border-radius: 30%;
 }
.card-number{
    display: inline-block;
    opacity: 70%;
    margin: 5px;
    padding: 3px;
}
.card-author{
    font-size: 2em;
}
.subtle{
    margin-left:5px;
}
.card-tag{
    font-size: 1.5em;
    margin-top: 40px;
}